---
import Layout from './_layout.astro';

interface Props {
  mysteryId: string;
}
const { mysteryId } = Astro.props;
---

<Layout title="Baggage Car" pageId="baggagecar" mysteryId={mysteryId} backgroundImage="/assets/baggagecar.jpg">

  <div class="title">Baggage Car</div>
  <div class="text-box">
<p><span style="font-weight: 400;">I decided to give the scene of the crime a more thorough inspection.&nbsp;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">The Baggage Car was at the very rear of the train&ndash;an area seldom frequented by visitors. When I entered, Charles Pearson was probing amongst the leather bags and wooden crates that had once been neatly arranged on either side of a narrow aisle.&nbsp;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Anything amiss, Charles?&rdquo; I asked, as I stepped delicately around Emilia&rsquo;s body. It had been covered by a white sheet at my request.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Well, Detective, most of the luggage seems to be present.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;</span><em><span style="font-weight: 400;">Most</span></em><span style="font-weight: 400;"> of the luggage?&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Yes, I don&rsquo;t know how else to say it.&rdquo; he said, shifting bags from one shelf to another. Each had a manila tag stamped with a number. &ldquo;Emilia&rsquo;s suitcase is the only one unaccounted for.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">My eyes widened as I replied, &ldquo;Well, Charles, isn&rsquo;t that very interesting?&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;I thought so. And, Detective, there are other&hellip;discrepancies.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">He crossed his tree trunk arms and brought a hand to his chin, seemingly deep in thought.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Discrepancies, Charles?&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Well, Detective: the artifact crates have been opened&ndash;each and every one of them.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Oh, my... how is such a thing even possible? Are the artifacts themselves accounted for?&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;I&rsquo;m working with Mrs. Stewart to see that they are. She is closely guarding her inventory log, but, as far as I know, Crate #4 appears to be the only one with missing contents. I barely know what I&rsquo;m looking at, though.&rdquo; he said, rotating a book in his hands, turning it this way and that, as if a different angle might finally make the baffling chart inside resolve into sense.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">I ran my fingers along the top edge of the crates as he spoke. The nails sealing the contents inside had been pried and removed entirely. Lifting the lids of each crate in turn, I found the interiors in total disarray. What had once been a neatly organized and meticulously packaged collection was now a scattered mess of rope, cloth, and dismantled artifacts.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;You aren&rsquo;t the one responsible for the mess are you, Charles?&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;No, sir. I found them like that. It was only by accident that I even knew to look inside at all.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Oh?&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;I was rifling through the luggage when I clumsily elbowed the lid from Crate #3. It fell freely onto the floor. I then checked the others. Each lid had been pried and replaced in the same way.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Oh my&hellip;well&hellip;keep up the good work, Charles. Thank you.&rdquo;</span><span style="font-weight: 400;">&nbsp;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Squeezing past his hulking frame</span><span style="font-weight: 400;">, at the far end of the car, a rear door led to an outside loading platform. On my approach, I noticed above the door, at a twelve o&rsquo;clock position, a bullet mark had been chipped into the black paint of the metal wall.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">While searching the area for possible shards, a frigid draft caught me at the neck, and I noticed that the rear door was standing slightly ajar.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Walking over, I put my shoulder into the heavy slab. It creaked in the worst metallic way, opening just enough to allow me through. I found myself on the rear loading platform, in the midst of a dark and still night. Under the dim light of a waning moon, hundreds of cacti dotted the grey landscape; jagged cliffs towered like buildings all around the track.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Moving forward, my foot bumped into something heavy on the platform's metal floor. I had to kneel before I could make any sense of the object, my eyes still adjusting to the dark.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Charles!! Come here!!&rdquo; I shouted, fumbling with the thing in front of me.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;What is it, sir?&rdquo;&nbsp;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">His massive frame thundered its way to my position, pressing the door open as easily as if it were basswood. A yellow clamp of light flooded the platform.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Pulling him beside me and pointing, I said,&nbsp; "Look! Another body!"</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;He looks quite dead, Detective. Is he?&rdquo;&nbsp;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Very much so. No pulse.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Well, sir, it&rsquo;s a fitting find given the battle inside. Wouldn&rsquo;t you say?&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">The man was lying facedown on the platform floor. He wore a black, knee-length duster coat with black pants and black dress shoes. By all appearances, he was a man of money. I recognized the coat to be of substantial quality and, having felt for a pulse on his wrist, his gold watch suggested the same.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Careful, Detective! He&rsquo;s armed!&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Charles pushed me aside and grabbed a silver revolver from the man&rsquo;s other hand.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Don&rsquo;t disturb the scene, Charles! No, no! Leave it!&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;It </span><em><span style="font-weight: 400;">must</span></em><span style="font-weight: 400;"> be collected, sir. We can&rsquo;t afford to risk leaving a loaded gun just lying around.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Is it loaded for sure?&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">I rose and stood next to him. He nodded, deftly popping the central cylindrical chamber open and dumping the contents into his hand.&nbsp;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Six total casings. Three have been fired, Detective. It was too heavy to be unloaded.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Let me have the casings. I supposed I can trust you to keep watch of the firearm.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">I put the casings in my pocket and returned to the body. It was still warm. As I delicately turned his head to face us, I spotted the tattoo of a devil snaking its way up the left side of his neck. Angling his head into the light of the Baggage Car behind me, I saw, in the center of his forehead, a single entry wound. Blood spilled down his face and had only just started caking in his eyebrows.&nbsp;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">I recognized him as of Mexican heritage but could take nothing further from his appearance.&nbsp;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Sifting through his pockets, I found no items of identification&ndash;not even a wallet. When I had finished my search of his person, I laid his effects on the floor in front of me:</span></p>
<p><br /><br /><br /><br /><br /><br /><br /><br /><br /></p>
<p><br /><br /></p>
<p><span style="font-weight: 400;">Picking up the key, I raised it toward Charles and asked, &ldquo;Do you recognize this?&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Hmm, looks like a handcuff key to me, sir.&rdquo;</span><span style="font-weight: 400;"><br /></span><span style="font-weight: 400;"><br /></span><span style="font-weight: 400;">&ldquo;Exactly. Very strange.&rdquo;&nbsp;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">I leaned over the body, where Charles had taken the gun from the man&rsquo;s other hand, and pulled on the sleeve of his jacket. There, on his wrist, was a handcuff bracelet, a severed chain dangling from the metal ring. Strangely, the other bracelet was missing entirely.&nbsp;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Someone has cut the handcuffs in two. Do you think he cuffed something to himself?&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;A good question, Detective. I&rsquo;ve seen it done only very rarely.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">We spent some additional time investigating the corpse, finding little else of interest.&nbsp;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Moving back inside, we made our way past the rows of bags and toward the Dining Car entrance.</span><span style="font-weight: 400;"> On the inner wall, opposite that of the rear door, I spotted two additional bullet marks.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Well, I suppose we know where his shots went.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Two beside the door and one in Emilia?&rdquo;&nbsp;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Precisely. But how could he possibly miss Emilia twice? It&rsquo;s almost unbelievable that from such a close distance two shots could be missed.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;You think Emilia wasn&rsquo;t his target?&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Perhaps not. Maybe whoever killed him was the real focus of his efforts.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">I took careful notes of the state of the scene before concluding my search.</span></p>
<p>&nbsp;</p>
<!-- Comments are visible in the HTML source only -->


  </div>
</Layout>

<style>
  .title {
    font-size: 100px;
    color: rgb(255, 166, 0);
    text-shadow: 0 0 10px rgb(0, 0, 0);
    padding: 10px;
    margin-bottom: 20px;
  }

  /* Media queries for responsive design */
  @media (max-width: 768px) {
    .title {
      font-size: 40px;
      margin-top: 50px;
    }
  }

  @media (max-width: 480px) {
    .title {
      font-size: 30px;
    }
  }
</style>