---
import Layout from './_layout.astro';

interface Props {
  mysteryId: string;
}
const { mysteryId } = Astro.props;
---

<Layout title="Conductor Adrian" pageId="cadrian" mysteryId={mysteryId} backgroundImage="/assets/enginecar.jpg">

  <div class="title">Conductor Adrian</div>
  <div class="text-box">
<p><span style="font-weight: 400;">The Engine Car greeted me with silence.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">On an average night, the red hot machinery would roar down the tracks like a feral tiger&ndash;but not now. We had been stalled on the tracks for some hours, waiting for help to arrive at our location.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">It was dark; the coal furnace had burnt itself low some time ago. I had just closed the door behind me when a gruff-looking man of sixty stepped from the shadows. Two soft blue eyes sat above cheeks streaked in coal dust.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">He walked directly to me, his soot-covered hand gripping my own. As we shook hands, I asked, &ldquo;Are you the conductor?&rdquo;&nbsp;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">With a smirk in his eyes, he said, &ldquo;Aye, sir. That&rsquo;s me. You the detective I&rsquo;ve been hearing about?&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Indeed I am. How did you know?&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Oh, Thomas hasn&rsquo;t shut his mouth since we left Sacramento last month. Only a deaf man could find peace on this train.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Remind me, who is Thomas?&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Stanton&rsquo;s personal servant. Knows more than any one man should.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;I see. And what is your name?&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Adrian Bellows, sir. What can I do for you?&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Bellows? That&rsquo;s a good name for a man who works so closely with heat.&rdquo; Pleased to find his smile growing, I continued, &ldquo;Well, Mr. Bellows, I need your help establishing a few things. How has the engine performed on the way home from Teotihuacan?"&nbsp;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Oh, she&rsquo;s been firin&rsquo; beautifully, sir. We&rsquo;d been making damn good time, until Thomas told me to shut the whole thing down.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Did he come to the Engine Room after the shots were heard?&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Yea, came in a real huff. Said Mr. Stanton&rsquo;d have my head if I didn&rsquo;t stop the train right then and there.&rdquo;&nbsp;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;You almost tossed me to the floor with the stoppage.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Mr. Stanton&rsquo;s orders. I&rsquo;m just a staffer, sir.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Understood. I have a few more questions, if you don&rsquo;t mind. Where exactly have we stopped on our return journey? And do you know when those stops were made?&rdquo;</span><span style="font-weight: 400;"><br /></span><span style="font-weight: 400;"><br /></span><span style="font-weight: 400;">&ldquo;I do, sir. The log is right here. And we made both of them stations exactly on time. Can be sure of that.&rdquo;</span></p>
</div>

  <div class="bottom-image">
    <img src="/assets/note-adrian.jpg" alt="Evidence image" class="bottom-image-style">
  </div>


<div class="text-box">
<p><span style="font-weight: 400;">He smiled proudly, handing me a sheet of paper smeared with black finger prints.&nbsp;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;And what do you do at these stops?&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Well, I get off and inspect the train to see if anything's broken, swap stories with the local suits, and resupply if needed.&rdquo;&nbsp;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;When you deboarded, did you see anything out of the ordinary today?&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Not in Mexico City. Place was a zoo. Barely room enough for the train amongst all the chaos. And the authorities searched our baggage like they was panning for nuggets in a pot of stew. But, don&rsquo;t worry, sir: you as a law man know good and well, we&rsquo;re clean as a whistle. They found nothin&rsquo; in them suitcases but ink and underwear.&rdquo;</span><span style="font-weight: 400;"><br /><br /></span></p>
<p><span style="font-weight: 400;">He winked at me and smiled. I nodded my head and motioned for him to continue.&nbsp;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Well&hellip; &lsquo;twas dark by the time we rolled into Juarez tonight. Makes it much harder for me to see that things are done right. I didn&rsquo;t even hear the fella when he come up on me, but as I was inspectin&rsquo; things, some suit pulled me aside.&rdquo;</span><span style="font-weight: 400;"><br /><br /></span></p>
<p><span style="font-weight: 400;">&ldquo;A rail authority?&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Yes.&rdquo;</span></p>
<p><span style="font-weight: 400;"><br /></span><span style="font-weight: 400;">&ldquo;Is that unusual? What did he want?&rdquo;&nbsp;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">"Very unusual, yes; and I never did find out what he wanted. Man didn&rsquo;t speak a word of English and kept tuggin&rsquo; on my sleeve, yellin&rsquo; about some piece of paper in his hand.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Had you seen this person before?&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;No&hellip;stopped at Juarez many times. Never seen that fella, though.&rdquo;&nbsp;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Did he have any remarkable features?&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Not that I noticed, but seemed local to me&hellip;. Well actually, Detective, there was one thing that caught my eye: he had some sort of tattoo running up the side of his neck.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Oh, could you describe it further?&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Was way too dark to see. I just know he had one.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">He stepped to me and grabbed my sleeve, saying, &ldquo;See? He kept me nice and close to him&ndash;like this&ndash;with all the pullin&rsquo; he did on my jacket.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Strange.&rdquo; I said, pushing his hand from my coat sleeve. &ldquo;Anything else?&rdquo;</span><span style="font-weight: 400;"><br /><br /></span></p>
<p><span style="font-weight: 400;">&ldquo;Yes, Detective. I was in a real rage, as you might expect. When I finally pulled free and turned back toward the train, &lsquo;saw someone at the Baggage Car. Slipping through the rear door, real quick and quiet, like he didn't want to be seen."&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;What? Did you report this?&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;No, not in this line of work. Learned to not ask those questions real quick, Detective. Not looking to find a new employer any time soon. Mr. Stanton pays a fair wage.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;I see&hellip;Well, what was he wearing? Do you remember?&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Um, I believe he was wearing a black coat and black hat. Couldn&rsquo;t say much else. Caught just a glimpse of him as he closed the door behind himself.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Okay, thank you Mr. Bellows. That will be all for now.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">I made for the exit, but he put an arm in front of me. Our eyes met, and he said, &ldquo;Let me know if you see my prybar, Detective. I can&rsquo;t find it since Teotihuacan. Thief that took it is a dead man; you can count on that.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">He laughed and opened the door for me to leave.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;I will let you know if I see it.&rdquo;</span></p>
  </div>
</Layout>

<style>
  .title {
    font-size: 100px;
    color: rgb(255, 166, 0);
    text-shadow: 0 0 10px rgb(0, 0, 0);
    padding: 10px;
    margin-bottom: 20px;
  }

  /* Media queries for responsive design */
  @media (max-width: 768px) {
    .title {
      font-size: 40px;
      margin-top: 50px;
    }
  }

  @media (max-width: 480px) {
    .title {
      font-size: 30px;
    }
  }
</style>