---
import Layout from './_layout.astro';

interface Props {
  mysteryId: string;
}
const { mysteryId } = Astro.props;
---

<Layout title="Cook - Gregory" pageId="cgregory" mysteryId={mysteryId} backgroundImage="/assets/cgregory.jpg">

  <div class="title">Cook - Gregory</div>
  <div class="text-box">
<p><span style="font-weight: 400;">&ldquo;Ah, Mr. Gregory, can I have a moment of your time?&rdquo;</span></p>
<p class="demoTitle">&nbsp;</p>
<p><span style="font-weight: 400;">The cook was behind the counter of the Dining Car. Sweat pooled on his forehead as smoke rose from the grill behind him.</span></p>
<p class="demoTitle">&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;I&rsquo;m busy, Cross. What do you want?&rdquo;</span></p>
<p class="demoTitle">&nbsp;</p>
<p><span style="font-weight: 400;">Gregory was a man of at least 50 and just over six feet tall. His beard was well-kempt, but completely grey. He wore a white chef&rsquo;s vestment that was now stained with grease and ketchup.</span></p>
<p class="demoTitle">&nbsp;</p>
<p><span style="font-weight: 400;">He turned back to the grill as I spoke, &ldquo;I&rsquo;d like to ask you some questions, if you don&rsquo;t mind.&rdquo;</span></p>
<p class="demoTitle">&nbsp;</p>
<p><span style="font-weight: 400;">His spatula rang out as he scooped a pile of scrambled eggs from the grill, setting the steaming plate next to me.&nbsp;</span></p>
<p class="demoTitle">&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;What do you want to know&ndash;and those </span><em><span style="font-weight: 400;">aren&rsquo;t</span></em><span style="font-weight: 400;"> for you, Cross.&rdquo;</span></p>
<p class="demoTitle">&nbsp;</p>
<p><span style="font-weight: 400;">I pushed the plate away from me, saying, &ldquo;I prefer sunnyside up, anyways. But I would like to ask you about a sandwich I saw sitting on the counter just after the shots had been fired. It can only be assumed that you had some role in assembling those ingredients.&rdquo;</span></p>
<p class="demoTitle">&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;That would be correct.&rdquo;&nbsp;</span></p>
<p class="demoTitle">&nbsp;</p>
<p><span style="font-weight: 400;">I could barely hear him over the sizzle of bacon and ham. Raising my voice, I said, &ldquo;Oh, and for whom was it intended?&rdquo;</span></p>
<p class="demoTitle">&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Franklin Reid.&rdquo;</span></p>
<p class="demoTitle">&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Ah! Was he in the Dining Car around the time of the shots?&rdquo;</span></p>
<p class="demoTitle">&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;No. I was headed for bed and the bastard caught me in the Passenger Car. He was poking his head outside his door when he requested a sandwich be brought to him. I was so tired, I could have strangled the little man right then and there, but I returned to the Dining Car and started making the damn sandwich.&rdquo;</span></p>
<p class="demoTitle">&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;An interesting way to phrase it, Gregory, especially in light of the night&rsquo;s events.&rdquo;</span></p>
<p class="demoTitle">&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;I tell it like it is, Detective.&rdquo;</span></p>
<p class="demoTitle">&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;And you never finished making that sandwich, did you?&rdquo;</span></p>
<p class="demoTitle">&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;No.&rdquo;</span></p>
<p class="demoTitle">&nbsp;</p>
<p><span style="font-weight: 400;">He turned off the grill. The sudden silence was thick as the aroma of grease and sweat that filled the narrow car. When he turned back to me, something in his face had changed. The gruff exterior was gone, suddenly replaced by newfound vulnerability.</span></p>
<p class="demoTitle">&nbsp;</p>
<p><span style="font-weight: 400;">Stepping close, his eyes swept up and down the empty space. "You have to help me, Cross." His voice had dropped to barely a whisper.</span></p>
<p class="demoTitle">&nbsp;</p>
<p><span style="font-weight: 400;">I leaned forward to meet him, asking, &ldquo;Is something the matter?&rdquo;</span><span style="font-weight: 400;"><br /></span><span style="font-weight: 400;"><br /></span><span style="font-weight: 400;">&ldquo;</span><em><span style="font-weight: 400;">Yes</span></em><span style="font-weight: 400;">&hellip;.and I&rsquo;m scared.&rdquo;</span></p>
<p class="demoTitle">&nbsp;</p>
<p><span style="font-weight: 400;">The eggs were still steaming beside me. &ldquo;What is it, Gregory?&rdquo;&nbsp;</span></p>
<p class="demoTitle">&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;It&rsquo;s about the shots. I know </span><em><span style="font-weight: 400;">who</span></em><span style="font-weight: 400;"> was involved&hellip;and more than that too.&rdquo;</span><span style="font-weight: 400;"><br /></span><span style="font-weight: 400;"><br /></span><span style="font-weight: 400;">His sharp nose was now no more than a foot from my own.&nbsp;</span></p>
<p class="demoTitle">&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;My god, tell me, man. Who fired the shots?&rdquo;</span></p>
<p class="demoTitle">&nbsp;</p>
<p><span style="font-weight: 400;">With raised eyebrows, he shot from his lips, &ldquo;</span><em><span style="font-weight: 400;">Mrs. Stanton!</span></em><span style="font-weight: 400;">&rdquo;</span></p>
<p class="demoTitle">&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;What?! How do you know?&rdquo;</span></p>
<p class="demoTitle">&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;It&rsquo;s the sandwich, Detective. When I was making it, she came into the Dining Car surprised to see me. She must have assumed I would be off-duty&ndash;as is normally the case&ndash;because when she entered, Emilia was with her&hellip;</span><em><span style="font-weight: 400;">at gunpoint</span></em><span style="font-weight: 400;">.&rdquo;</span></p>
<p class="demoTitle">&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;What?!&rdquo;</span></p>
<p class="demoTitle">&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;</span><em><span style="font-weight: 400;">Yes.</span></em><span style="font-weight: 400;"> Mrs. Stanton had a gun to Emilia&rsquo;s back and was ushering her toward the Baggage Car.&rdquo;</span></p>
<p class="demoTitle">&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Did she say anything to you?&rdquo;</span></p>
<p class="demoTitle">&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;She was furious. I explained I was making a sandwich, but she told me to drop everything and return to my quarters.&rdquo;</span></p>
<p class="demoTitle">&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Did you?&rdquo;</span><span style="font-weight: 400;"><br /></span><span style="font-weight: 400;"><br /></span><span style="font-weight: 400;">&ldquo;Yes. But not before I saw her take Emilia to the Baggage Car.&rdquo;</span></p>
<p class="demoTitle">&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Was Emilia in good health at that point?&rdquo;</span></p>
<p class="demoTitle">&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Oh, Detective&hellip;.that&rsquo;s the part that</span><em><span style="font-weight: 400;"> haunts</span></em><span style="font-weight: 400;"> me. No, she was bleeding from her nose and forehead. It looked like she had been beaten.&rdquo;</span></p>
<p class="demoTitle">&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;How appalling. Poor girl. What else can you tell me?&rdquo;</span></p>
<p class="demoTitle">&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Only that Mrs. Stanton had a gun in one hand and was struggling with a heavy suitcase in the other.&rdquo;</span></p>
<p class="demoTitle">&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Very strange. Do you know what she was up to?&rdquo;</span></p>
<p class="demoTitle">&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Not the first clue, Cross.&rdquo;</span></p>
<p class="demoTitle">&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;What did you do after hearing the shots?&rdquo;</span></p>
<p class="demoTitle">&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;I stayed in the Staff Car like a good employee. Mr. and Mrs. Stanton had been arguing at dinner. I did not want to leave and risk crossing her when she was in such a foul mood&ndash;and in a foul mood </span><em><span style="font-weight: 400;">with a loaded gun</span></em><span style="font-weight: 400;">.&rdquo;</span></p>
<p class="demoTitle">&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Wise. Thank you for your cooperation, Gregory. If you need anything, come find me.&rdquo;</span><span style="font-weight: 400;"><br /><br /></span></p>
<p><span style="font-weight: 400;">&ldquo;I will, Detective.&rdquo;</span></p>
<p class="demoTitle">&nbsp;</p>
<p><span style="font-weight: 400;">As I walked away, the sizzle of meat again filled the room.</span></p>

  </div>
</Layout>

<style>
  .title {
    font-size: 100px;
    color: rgb(255, 166, 0);
    text-shadow: 0 0 10px rgb(0, 0, 0);
    padding: 10px;
    margin-bottom: 20px;
  }

  /* Media queries for responsive design */
  @media (max-width: 768px) {
    .title {
      font-size: 40px;
      margin-top: 50px;
    }
  }

  @media (max-width: 480px) {
    .title {
      font-size: 30px;
    }
  }
</style>