---
import Layout from './_layout.astro';

interface Props {
  mysteryId: string;
}
const { mysteryId } = Astro.props;
---

<Layout title="Charles Pearson" pageId="cpearson" mysteryId={mysteryId} backgroundImage="/assets/cpearson.jpg">

  <div class="title">Charles Pearson</div>
  <div class="text-box">

<p><span style="font-weight: 400;">Charles was sitting alone at the far end of the Dining Car, still wearing his blue robe, when I found him.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;May I sit?&rdquo; I asked.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Yes, sir. Please do.&rdquo;&nbsp;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">I slid into the booth across from him, a large plate of eggs and bacon between us. His light hair was uncharacteristically scraggled, and the top few buttons of his shirt had been undone. Dark circles under his eyes told me he was on his last legs.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Enjoying your breakfast?&rdquo; I asked.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Not really, but I needed a break. Mrs. Stewart has been hounding me to finish my inventory. I have yet to have a chance to really catch my breath, Detective.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Well, if you have energy, I would like to ask you a few questions, Charles.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Of course. I&rsquo;m at your service, sir.&rdquo;&nbsp;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Let&rsquo;s start at the beginning: where were you last night, before we met in the hallway?&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;In my room. I am in bed at 9:00 pm every night, as you well know, Detective. Unless I am on duty, it is early to bed and early to rise.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;I remember you had some late nights while we were in Teotehuacan.&rdquo;</span><span style="font-weight: 400;"><br /></span><span style="font-weight: 400;"><br /></span><span style="font-weight: 400;">&ldquo;I did. It was no easy task fending off the drug runners and other riff raff. They knew the dark recesses of the jungle better than I. But not a thing went missing, did it, Detective?&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">He looked at me with duty and pride stamped across his forehead.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;You performed admirably, Charles. In your patrols of the camp, did you ever see anything suspicious activity from the members of the excavation team themselves?&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Well&hellip;.actually, yes. I would say so, sir.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">I leaned forward, the smell of his strong coffee filling my nose, &ldquo;What did you see?&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Emilia, Detective,&rdquo; he set down his fork, lost in thought, but continued, &ldquo;she frequented the artifact tent at night. Two or three in the morning, sometimes. Initially, I prevented her from entering quite a few times, but Robert put a stop to my questioning quite quickly.&rdquo;&nbsp;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Taking his fork back in his hand, he impaled the last of his eggs, and said, &rdquo;Robert was furious; told me that if I knew what was good for me I would give Emilia space when she visited. In fact, he forbade me from being near the artifact tent when she was present.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;And you&rsquo;re sure she stole nothing the entire month that we were there?&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Not a thing, sir. I&rsquo;m proud to report that. In the final inventory list I made for Mrs. Stewart, everything had been accounted for.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">He had finished his eggs and was now tearing into his bacon like a prehistoric beast. His eyes hadn&rsquo;t left his food since I sat down.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;I see. This is your first private security job?&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Yes.&rdquo; he said through mouthfuls of meat, &ldquo;Mr. Stanton saw my resume and hired me on the spot. I&rsquo;m a capable fighter; many years of combat experience.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;You&rsquo;ve done well. I understand you&rsquo;re also responsible for overseeing the loading and unloading of baggage.&rdquo;</span><span style="font-weight: 400;"><br /></span><span style="font-weight: 400;"><br /></span><span style="font-weight: 400;">&ldquo;I am.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Emilia&rsquo;s bag was loaded onto the train, I assume.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;It was. I stowed it myself: # 501-4, I believe.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;What&rsquo;s the tag number mean?&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;501 is our train number. 4 is the room number of the passenger.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;I see. And you have no idea where the bag is now?&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Not a clue, sir. I did my rounds just after dinner last night. That&rsquo;s when I noticed it was absent.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">He sat back in the booth, pushing his empty plate away from him.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;You didn&rsquo;t report it?&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Emilia came and went as she pleased&ndash;and she regularly visited the Baggage Car,&rdquo; lowering his voice, he added, &ldquo;carrying packages more often than not too, Detective. But Robert has made it very clear it is none of my business what she is up to. What am I to report, in that case, sir?&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Nothing, I suppose. What room are you staying in, Charles?&rdquo;&nbsp;</span></p>
<p><span style="font-weight: 400;">&nbsp;</span></p>
<p><span style="font-weight: 400;">&ldquo;Room 6, sir.&rdquo;, he said, motioning for Gregory to come take another order.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Thank you, Charles.&rdquo; I said, leaving him to his next meal.&nbsp;</span></p>



  </div>
</Layout>

<style>
  .title {
    font-size: 100px;
    color: rgb(255, 166, 0);
    text-shadow: 0 0 10px rgb(0, 0, 0);
    padding: 10px;
    margin-bottom: 20px;
  }

  /* Media queries for responsive design */
  @media (max-width: 768px) {
    .title {
      font-size: 40px;
      margin-top: 50px;
    }
  }

  @media (max-width: 480px) {
    .title {
      font-size: 30px;
    }
  }
</style>