---
import Layout from './_layout.astro';

interface Props {
  mysteryId: string;
}
const { mysteryId } = Astro.props;
---

<Layout title="Emilia Brooks" pageId="ebrooks" mysteryId={mysteryId} backgroundImage="/assets/baggagecar.jpg">

   <div class="title">Emilia Brooks</div>
  <div class="text-box">
<p><span style="font-weight: 400;">I returned to the crime scene for a closer look at the body.&nbsp;&nbsp;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">A paper thin serenity had settled amongst the bags and bullet marks. Dried blood gathered in dark pools beneath the sheet that covered Emilia&rsquo;s body.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Determined to learn more about the poor girl&rsquo;s final night alive, I gathered my strength and peeled the starched white sheet from her face. The area around one of her eyes was swollen with a dark ring around it&ndash;no doubt the result of a recent impact. Gently, I pushed her raven black bangs to one side. A trail of hardened blood ran down her forehead from somewhere near the hairline.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Her face was cold, her arms stiff. Around her nose, the bruising was so profuse that I suspected it to be broken.&nbsp;</span></p><p>&nbsp;</p>
<p><span style="font-weight: 400;">Pulling the sheet free from the rest of her body, I saw that she was dressed in the same grey blouse and vestment she'd worn to dinner. The skin on her face and arms was pale as the linen now crumpled beside her. The single pocket of her blouse was empty: no room key; no personal effects.</span></p><p>&nbsp;</p>
<p><span style="font-weight: 400;">I examined her wrists, her forearms, her hands. Bloodless and cold, they showed no evidence of defensive wounds.&nbsp;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Emilia was very much a stranger to me. In our month at the excavation site, I had rarely seen her. The few conversations we&rsquo;d had were quick and impersonal, but she seemed pleasant enough to me.&nbsp;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">How such a young girl had ended up in this position baffled me.</span></p>
<p><br /><span style="font-weight: 400;">On a hunch, I removed her shoes. The black loafers were clean and clung tightly to her small feet. Pulling the right shoe from her foot, a note tumbled to the floor. My heart beat rapidly in my chest as I unfolded it and read:</span><span style="font-weight: 400;"><br /></span></p>
</div>

  
  <div class="bottom-image">
    <img src="/assets/Note-Emilia.jpg" alt="Evidence image" class="bottom-image-style">
  </div>
</Layout>