---
import Layout from './_layout.astro';

interface Props {
  mysteryId: string;
}
const { mysteryId } = Astro.props;
---

<Layout title="Franklin Reid" pageId="freid" mysteryId={mysteryId} backgroundImage="/assets/freid.jpg">

  <div class="title">Franklin Reid</div>
  <div class="text-box">
<p><span style="font-weight: 400;">The guests had been barred from entering their rooms. Asking around a bit, I was led to the Passenger Car lounge area where I found Mr. Reid in a red leather reading chair.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">A man of small stature but significant intellect, he was sitting with his back straight and head held high. So refined was his manner that it was no wonder Mr Stanton had enlisted him to oversee the operations of our expedition.&nbsp;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">When Mrs. Stewart invited me on the trip to Mexico, I'd imagined rest and recuperation. Instead, Mr. Reid had worked us relentlessly through the Mexican heat, and now I was returning home even more ragged and worn down than when I had left.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">He was still wearing one of his tan dig shirts. Tucked into the collar with a certain flourish was a blood red ascot. When I approached, he was making notes in a small log book that, for him, was more like an appendage than an accessory.&nbsp;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Ah, there you are, Mr. Reid.&rdquo;&nbsp;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Detective, come sit! My, my&hellip;you must have your hands full.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Pulling a stool beside him, I replied, &ldquo;Oh, yes. How silly it was to believe that I might get some rest on the way home.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Well, you worked hard enough to deserve it. Perhaps I drove you too hard. I hope you won&rsquo;t hold it against me.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Of course not. However, I do have some questions, Mr. Reid.&rdquo;</span><span style="font-weight: 400;"><br /></span><span style="font-weight: 400;"><br /></span><span style="font-weight: 400;">He shuffled in his chair, leafing through the pages with incredible speed. &ldquo;I&rsquo;ll answer what I can. In fact, Detective, I was jotting a few things in my notebook that I think might be of use to you.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">My eyes widened, and I reached for the small book, saying &ldquo;Oh, may I see?&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">His caterpillar eyebrows twisted over themselves as if I&rsquo;d asked him for a kidney. Only partially recovering himself, he replied, &ldquo;No!...no&hellip;..this book is mine, alone. But, I will recount what I&rsquo;ve written for you, now.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">I wondered desperately what sort of secrets lived between the pages, wanting to rip the small book from his hands, but I settled myself and replied, &ldquo;My apologies. That will do.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Listen closely, Detective Cross. It has been an interesting night for everyone&ndash;but most especially for me.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">I nodded and waited for him to continue. Flipping to a specific page, he looked at me over the rim of his glasses and said, &ldquo;Well, it started at 12:43 last night. I know, Detective, because I logged it precisely.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">He tapped his wrist watch as I asked, &ldquo;What started?&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;</span><em><span style="font-weight: 400;">Let me get there</span></em><span style="font-weight: 400;">, Detective,&rdquo; he said, gathering a rosey red on the corners of his cheeks.&nbsp; &ldquo;If you&rsquo;ll allow me, I&rsquo;ll tell you everything I witnessed.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Not wanting to repeat my mistake, I graciously motioned for him to continue.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;At 12:43, I heard a knock at the door. Thinking it my own, I got out of bed to open it&ndash;I had been reflecting on my notes at the time. But, when I looked into the hall, there was no one around. The cars are so bloody cramped, I had mistaken the knock on a neighboring door with one on my own.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Where did the knock originate then?&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">He glared at me like a stern parent, licked his fingers, and continued, &ldquo;Well, if you were familiar with the layout of the Passenger Car, Detective, you would know it could only be Emilia&rsquo;s or your own. I have no other neighbors.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Raising a fragile finger, I hoped to ask a follow-up question, but he continued, knowing exactly what I wanted. He said, &ldquo;I concluded it was not your room quite quickly, Detective. See, a series of disturbing sounds came from the other side of the car&ndash; the one in which Emilia was staying. But I did not see or hear who might have knocked.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">I shifted in my chair.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;And I also know this, Detective:</span><em><span style="font-weight: 400;"> it was a woman</span></em><span style="font-weight: 400;">. I could not make out specific words over the thunder of the tracks, but what I heard was unmistakably a bitter argument between two women.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">I could no longer resist. Interjecting, I said, &ldquo;Okay, okay&hellip; I simply must intrude for a moment, Mr. Reid.&rdquo; He protested, but this time I continued,&nbsp; &ldquo;Did you hear anything other than an argument&ndash;any other noises?&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Furrowing his brow, he answered, &ldquo;I was getting there, Detective, but yes&hellip;I heard a great many things: crying, pleading, physical violence, what sounded like luggage being torn open&hellip;all sorts of interesting things.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;You mentioned the tracks were quite loud; how did you manage to hear all of this?&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;I&rsquo;m embarrassed to admit,&rdquo; he said, looking around us for anyone else who might be listening, &ldquo;but I had my door cracked and was leaning one ear into the hall.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;What a stroke of good luck. You just may help to solve a murder, Mr. Reid.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Yes, but I did feel silly&ndash;especially when the cook came wandering down the hall. Not wanting to admit to something as low as snooping, I called him over and ordered a sandwich as if that had been my goal all along.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Very sly, sir.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Yes, it was. The cook left the scene before he could interfere with my surveillance.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;What happened next?&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Not long after, the door started to open, and I quickly and quietly shut my own before I could be noticed. Emilia and the other woman must have stepped into the hall together.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;What time was this?&rdquo;</span><span style="font-weight: 400;"><br /></span><span style="font-weight: 400;"><br /></span><span style="font-weight: 400;">&ldquo;I checked: 1:17 am. Emilia was crying, Detective. Whimpering may be a better way to put it.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Was anything said between them?&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;No. From the sound of her cries, I knew them to have headed toward the rear of the Passenger Car. When they had left, I stepped into the hallway myself.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;What did you do next?&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;I worked up the courage to leave my room. However, it did not last after I spotted a trail blood on the floor just outside her door.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;What room number was that?&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">He read from the bottom of the page, &ldquo;Room 4, Detective.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;I see. Did you witness anything else last night?&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Shuffling through his notebook he, again, scanned it carefully, before replying, &ldquo;No.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;You worked very closely with Emilia on the expedition. She seemed like a talented field worker.&rdquo;</span><span style="font-weight: 400;"><br /></span><span style="font-weight: 400;"><br /></span><span style="font-weight: 400;">&ldquo;She was. I would not keep her so close if that were not absolutely true.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;She aided you with both artifact recovery and cataloguing, correct?&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Yes. She was gifted with small details. I found that to be quite useful.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">For the first time, he had put his notebook on his lap and was looking absently at the floor.</span><span style="font-weight: 400;"><br /></span><span style="font-weight: 400;"><br /></span><span style="font-weight: 400;">I asked, &ldquo;She had special access to the logbooks from the expedition and the artifacts themselves. Is that true?&rdquo;</span><span style="font-weight: 400;"><br /></span><span style="font-weight: 400;"><br /></span><span style="font-weight: 400;">&ldquo;Yes. Many nights she worked late by herself, cataloguing what had been found that day.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Do you know much about her history?&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;No, only what she has mentioned in passing.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;What has she shared?&rdquo;</span><span style="font-weight: 400;"><br /></span><span style="font-weight: 400;"><br /></span><span style="font-weight: 400;">He picked up his notebook again, and, in a single motion, thumbed to the exact page he sought to reference.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Well, she grew up poor in the slums outside of Juarez. It was a tough upbringing: gangs and violence, from what I gathered. She was very grateful to have found employment with us.&rdquo;</span><span style="font-weight: 400;"><br /></span><span style="font-weight: 400;"><br /></span><span style="font-weight: 400;">&ldquo;Any details of her recent personal situation?&rdquo;</span><span style="font-weight: 400;"><br /></span><span style="font-weight: 400;"><br /></span><span style="font-weight: 400;">&ldquo;I don't think so&hellip;oh, here: she did mention that her mother was very sick.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Oh? Well, that is very interesting, Mr. Reid. Thank you. One last thing: what did you do after hearing the shots?&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;I felt like a fish in a barrel, Detective. Not wanting to wait around for the shooter to find me, I left my room and crept into the hall.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Did you see anyone else?&rdquo;</span><span style="font-weight: 400;"><br /></span><span style="font-weight: 400;"><br /></span><span style="font-weight: 400;">&ldquo;No. I moved away from the shots quite quickly. In fact, I hid right here behind this very chair.&rdquo;</span></p>
<p><br /><span style="font-weight: 400;">&ldquo;Very good, Mr. Reid. Thank you for your time.&rdquo;</span><span style="font-weight: 400;"><br /></span><span style="font-weight: 400;"><br /></span><span style="font-weight: 400;">&ldquo;Of course, Detective.&rdquo; He was already scribbling something in his notebook before I could make my leave of the lounge. I couldn&rsquo;t help but wonder if it was about me.</span></p>
  </div>
</Layout>

<style>
  .title {
    font-size: 100px;
    color: rgb(255, 166, 0);
    text-shadow: 0 0 10px rgb(0, 0, 0);
    padding: 10px;
    margin-bottom: 20px;
  }

  /* Media queries for responsive design */
  @media (max-width: 768px) {
    .title {
      font-size: 40px;
      margin-top: 50px;
    }
  }

  @media (max-width: 480px) {
    .title {
      font-size: 30px;
    }
  }
</style>