---
import Layout from './_layout.astro';

interface Props {
  mysteryId: string;
}
const { mysteryId } = Astro.props;
---

<Layout title="Introduction" pageId="intro" mysteryId={mysteryId} backgroundImage="/assets/passengercar.jpg">

  <div class="title">Introduction</div>
  <div class="text-box">
<p><span style="font-weight: 400;">The shots came from somewhere at the back of the train.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">I was in my room, the steady rattle of the tracks having lulled me to sleep sometime around 9:30, when suddenly:&nbsp;</span></p>
<p>&nbsp;</p>
<p><em><span style="font-weight: 400;">Bang! Bang!Bang! Bang! Bang!&nbsp;</span></em></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">The unmistakable sound of gunfire shook me from my dreams.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Wide-eyed and groggy, I fumbled in the dark for the clock beside my bed. Holding it close to my nose, the twitching hands read 1:24 am.&nbsp;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">My heart racing in my chest, it took only a matter of seconds to kick myself into a pair of grey trousers and stumble my way into the soft glow of the Passenger Car hallway.&nbsp;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">He was kneeling just outside my door when we collided.</span> <span style="font-weight: 400;">Tumbling over myself, the strong arms of Charles Pearson were the only thing that prevented me from smashing face-first onto the wood-paneled floor.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Cropped blonde hair and tall as a tree, he stood me back on my feet like a mannequin. When I finally released my grip from the sleeves of his robe, I managed, &ldquo;Oh my.. what on earth are you doing, Mr. Pearson?&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">His eyes were round as moons and searching the hall behind me as he straightened my nightshirt. Whispering, he said, &ldquo;My apologies, sir, but I&rsquo;m </span><em><span style="font-weight: 400;">investigating</span></em><span style="font-weight: 400;">. You must have heard the shots, too, right?&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Turning my head to follow his gaze, I asked, &ldquo;Indeed, I did! Five of them, if I counted correctly.&rdquo;</span><span style="font-weight: 400;"><br /></span><span style="font-weight: 400;"><br /></span><span style="font-weight: 400;">&ldquo;That&rsquo;s right, Detective, five&ndash;and most certainly from somewhere at the back of the train.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">I nodded, and he grabbed my arm, lowering me to a crouch. Together we crept to the rear of the Passenger Car. My ears strained for any sign of movement, but it was only the hush of the corridor that pressed in as we slipped past darkened guest rooms, before finally coming in sight of the rear exit door.&nbsp;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">There, peering through the windows between the Passenger and Dining Car, a slender man with slicked back hair and a tan smoking jacket stood with his back to us. A martini glass dangled from his left hand.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">He had made no notice of our approach when Charles called to him in a soft voice, &ldquo;Mr. Stanton?&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">The man swung wildly from his perch at the window and rushed to our position. Robert Stanton&rsquo;s boney frame blocked the hall in front of us, a single swath of unkempt, black hair stuck to his forehead.&nbsp;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Oh my! Mr. Pearson! Detective Cross! What the devil is going on?&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Charles grabbed Mr. Stanton&rsquo;s padded shoulder and pulled him close, saying, &ldquo;Keep your voice low, Mr. Stanton. You heard the gunfire, I presume?&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;</span><em><span style="font-weight: 400;">Gunfire</span></em><span style="font-weight: 400;">? Oh, please. You&rsquo;re out of your mind, Charles. Not every setting in one&rsquo;s life is a warzone, you know&hellip;</span><em><span style="font-weight: 400;">least of all my train</span></em><span style="font-weight: 400;">.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Surely you heard </span><em><span style="font-weight: 400;">something</span></em><span style="font-weight: 400;">, Mr. Stanton.&rdquo; I pressed.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Well of course I did! I assumed it was an engine implosion of some kind. This isn&rsquo;t exactly my first expedition by rail, Detective. The task of keeping an engine huffing from Syracuse to St. Louis is hard enough&hellip; Just imagine doing so to Teotihuacan </span><em><span style="font-weight: 400;">and back</span></em><span style="font-weight: 400;">!&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Well, it didn&rsquo;t sound like engine trouble to me, Mr. Stanton. But nevermind that, we will soon get to the bottom of it. Tell me, though, what did you see through the window?&rdquo;&nbsp;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Nothing, Detective. Nothing but an empty Dining Car. I got too nervous to push further.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Charles frowned to himself and said, &ldquo;Hmmph, well someone has to check on things. Come. Let&rsquo;s take a closer look. The shots had to have come from this direction.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Shots&hellip;..&rdquo;&nbsp; Stanton huffed</span><em><span style="font-weight: 400;">, "ridiculous!"</span></em></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Charles was having none of it, and I joined him in moving for the door when Mr. Stanton stepped in front of us, the sheen of his golden cufflinks glistening in the hall&rsquo;s orange light.&nbsp;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">He puffed his chest and said, &ldquo;Gentleman, as the owner of this train, I must advise caution. We know nothing of the situation&ndash;and if there </span><em><span style="font-weight: 400;">is</span></em><span style="font-weight: 400;"> a shooter, the lunatic might be lurking anywhere beyond that door. Such endeavors are not safe, and I won&rsquo;t be legally </span><em><span style="font-weight: 400;">or</span></em><span style="font-weight: 400;"> financially liable should anything happen. That window is as far as can be safely ventured.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;I wouldn&rsquo;t worry yourself, Mr. Stanton,&rdquo; Charles said, showing Robert and me a brass pocket pistol in the palm of his right hand. Continuing, he said, &ldquo;And we cannot simply sit around while someone might be injured.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;I can not&hellip;..&rdquo; But Mr. Stanton was pulled from his sentence.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Charles&rsquo; large hand took him again by the shoulder and dragged him with us to the viewing window.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">The formidable frame of Charles Pearson slouched at the neck to peer through the glass between the cars. For a long moment, he stood motionless observing the scene beyond the window. Then, without comment, thrusting the metal door wide open, he led the charge through the small vestibule that linked the Passenger Car with the Dining Car.&nbsp;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">The three of us entered the Dining Car as a single unit, moving slowly, and again listening for any sign of movement. A dozen black saucer lights swayed above us as we crept past the rows of empty booths. I let the pair move ahead of me, taking the opportunity to study the scene as I moved cautiously forward.&nbsp;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">The long, green interior was half kitchen, half booths and tables. In my quick search, I found nothing out of place, with one small exception: a half assembled cold cut sandwich sat next to the kitchen cook top.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">I was peering over the counter at the lonely edible when, suddenly, the train lurched to a stop. Luckily, I caught myself on a nearby dining stool, watching as the sandwich splashed across the floor. In the same jumbled moment, something on the other side of the counter collided with an interior wall, piercing the cacophony of jangling silverware and rattling china. Steadying myself, I listened closely, but no further sounds came.&nbsp;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Unable to see what it was from my position, I was leaning over the counter to check when Stanton yelled, &ldquo;</span><em><span style="font-weight: 400;">Oh my god!</span></em> <em><span style="font-weight: 400;">It&rsquo;s a body!</span></em><span style="font-weight: 400;">&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Forgetting my task, I ran as quickly as I could to the rear of the Dining Car and through another vestibule where both Charles and Mr. Stanton now stood at the entry of the Baggage Car.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">In the middle of a narrow aisle, rows of suitcases on either side of her, the body of Emilia Brooks lay on the floor. Dark blood spilled from wounds in her chest. My stomach turned as I stepped past my companions to check her pulse.&nbsp;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Nothing.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;She&rsquo;s dead.&rdquo; I whispered.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">They nodded.&nbsp;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;We need to contact the authorities, immediately!" Charles said, his gun poised in front of him.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Those efforts have already been made, Mr. Pearson. I ordered the train to stop when I heard the noise, but I&rsquo;m afraid we are beyond help until sometime tomorrow evening.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Oh, and why is that?&rdquo; Charles asked.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Well, we are in some god-forsaken part of the Nevada Mountain range. Surely, you had a moment to look out the windows this evening. There&rsquo;s nothing around for miles.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;How long will it take for help to arrive?&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;I will dispatch a messenger soon. But it will take at least twelve, maybe even fifteen hours before we can be helped.&rdquo; Mr Stanton concluded.&nbsp;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Charles was pacing the room and said nothing in response.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">But I had barely heard their conversation. My eyes were frozen on the body of the young, brunette girl who had once been a talented field assistant. There was something very strange about the wounds in her chest. She was lying on one arm, blood pouring from both sides of her torso. From the front, a single entry wound was clearly visible in the white fabric of her blouse, just below the ribs. Then, when stepping around to study her back, imagine my shock when I found an additional entry wound&ndash; this one just above the heart.&nbsp;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Did you see the wounds, Charles?&rdquo; I asked.&nbsp;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">He was shuffling through the luggage, his mind elsewhere. Absently, he replied, &ldquo;No. What about them?&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Well, I believe Miss Brooks was shot. Twice.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Oh, yes? What of it, Detective Cross? One bullet is rarely enough to kill.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Well, it&rsquo;s </span><em><span style="font-weight: 400;">where</span></em><span style="font-weight: 400;"> she was shot, Charles. She&rsquo;s been shot twice: once from the </span><em><span style="font-weight: 400;">front</span></em><span style="font-weight: 400;">, and once from the </span><em><span style="font-weight: 400;">back</span></em><span style="font-weight: 400;">.&rdquo;&nbsp;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Robert and Charles froze, looked at each other and then to me.&nbsp;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;And just how is that possible, Detective?&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Well, there can be only one explanation, Mr. Stanton: </span><em><span style="font-weight: 400;">there are</span></em><strong><em> two</em></strong><em><span style="font-weight: 400;"> shooters on this train</span></em><span style="font-weight: 400;">.&rdquo;</span></p>
<!-- Comments are visible in the HTML source only -->

  </div>
</Layout>

<style>
  .title {
    font-size: 100px;
    color: rgb(255, 166, 0);
    text-shadow: 0 0 10px rgb(0, 0, 0);
    padding: 10px;
    margin-bottom: 20px;
  }

  /* Media queries for responsive design */
  @media (max-width: 768px) {
    .title {
      font-size: 40px;
      margin-top: 50px;
    }
  }

  @media (max-width: 480px) {
    .title {
      font-size: 30px;
    }
  }
</style>