---
import Layout from './_layout.astro';

interface Props {
  mysteryId: string;
}
const { mysteryId } = Astro.props;
---

<Layout title="Room 6" pageId="room6" mysteryId={mysteryId} backgroundImage="/assets/room6.jpg">

  <div class="title">Room 6 - Carol Stewart</div>
  <div class="text-box">
<p><span style="font-weight: 400;">&ldquo;There you are, Carol!&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">I had visited her room many times prior. Somehow she found space enough amongst the heaped papers, books, and bags to play cards with me.&nbsp;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">When I walked in, she was rifling through her filing cabinet, her back to the door.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;What are you doing, Carol?&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Her narrow shoulders spasmed with surprise.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Oh, hello, David! How goes the investigation?&rdquo; she said, recognizing my voice.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Many moving parts, as I&rsquo;m sure you can imagine. I&rsquo;m surprised to find you here.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">She turned from her work to face me, shuffling with intent through a stack of papers in her hands.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;I needed my logbooks. I know you&rsquo;ve forbidden entry to our rooms, but I simply must ensure the artifacts are accounted for. And I can&rsquo;t do that without my notes.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Carol was a slight woman of 50. If you didn&rsquo;t already know she was there, you might miss her in passing. I found myself wondering if one day she might accidently file herself in one of her cabinet drawers, and we&rsquo;d never hear from her again.&nbsp;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Her long, grey hair was pulled into a tight bun. We had known each other for many years, having met in school.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Looking around the disheveled space, I asked, &ldquo;As the head scribe, you must have a full record of our activities in Teotehuacan. Anything missing from your room?&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;No. Luckily, it&rsquo;s all accounted for, David.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">She stooped to pull a pile of papers from under her bed and continued, &ldquo;It&rsquo;s just a shame the poor girl has died&ndash;and in such a terrible way. I thought I might cry when covering her body with that sheet.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Her voice was flat and void of emotion.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Such a tragedy, I agree. What did you think of Emilia, Carol? I noticed you working with her on occasion while on the expedition.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Kind girl, I guess&ndash;but only in a </span><em><span style="font-weight: 400;">superficial</span></em><span style="font-weight: 400;"> way.&rdquo; A little crevice formed between her eyebrows as she said it.&nbsp;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">She explained further, &ldquo;In the early days Emilia was a great help, but she quickly turned into something of a nuisance.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Oh, really? Why is that?&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Well, very quickly she gained full control of the artifact logging. David, I was left to sit on my hands with nothing to do. In fact, by the second week, I was hardly allowed to even be near them at all. Robert gave her full control. I was furious.&rdquo;</span><span style="font-weight: 400;"><br /></span><span style="font-weight: 400;"><br /></span><span style="font-weight: 400;">&ldquo;That is strange. Surely that would have been your job as head scribe.&rdquo;</span><span style="font-weight: 400;"><br /></span><span style="font-weight: 400;"><br /></span><span style="font-weight: 400;">&ldquo;It absolutely was, and it gets worse: more than once I caught the trouble-maker late at night in the store tent. She was fussing with the artifacts.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Oh my. What was she doing with them?&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;I couldn&rsquo;t tell, but I reported her immediately! I even demanded she be sent home and relieved of her duties&hellip;Robert did </span><em><span style="font-weight: 400;">nothing</span></em><span style="font-weight: 400;">!!&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;What an interesting relationship they have: Emilia and Robert. Why would he permit her to risk the integrity of the expedition?&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;I never found out. But you know what else, David?&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">She grabbed the collar of my coat and pulled me closer saying, &ldquo;It </span><em><span style="font-weight: 400;">continued</span></em><span style="font-weight: 400;">&hellip;on this very train...&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;What?! What do you mean?&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;More than once I have caught her in the Baggage Car. I never figured out what she was doing, but whatever it was, David, you need to get to the bottom of it. Look at the mess she&rsquo;s created!&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Her cheeks were red as she shot,&nbsp; &ldquo;Maybe history is better off now that she&rsquo;s dead.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">I couldn&rsquo;t believe my ears. For all the time I&rsquo;d known Carol, she had been a sweet, gentle person&ndash;not an enemy in her life.&nbsp;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Seeing the shock on my face, she quickly muttered an apology, &ldquo;I shouldn&rsquo;t have said that, David. Oh, I&rsquo;m so embarrassed.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Well, I can&rsquo;t say I disagree. Let&rsquo;s move on. Did you see anything tonight?&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;No. I was sleeping when I heard the shots. I&rsquo;ll admit to stepping briefly into the hall, but I chickened out while hiding behind a chair in the Passenger Car lounge.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;You returned to your room shortly after?&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Yes. From my place at the chair I saw both Mr. Pearson and Mr. Reid creeping around&ndash;separately and apparently unaware of each other.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Thank you, Carol. Before I leave, would you mind giving me a list of the missing artifacts?&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;I have only just determined which those are, David. The rest of them are accounted for, but in a strange state is disassembly.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Disassembly?&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Many of them have been taken apart and dumped back inside the crates without proper care.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Again her face grew red as she added, &ldquo;It will take ages to restore the damage that she has done.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;I see. Listen, I&rsquo;d love to look at that list of the missing ones, Carol.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">She hesitated as if she had forgotten, then finally said, &ldquo;But, of course, David. I&rsquo;ve already written them on this piece of paper for you.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Thank you. Now that you&rsquo;ve finished your cataloguing, please leave your room and lock it behind you.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">She nodded and put what little strength she had into closing a large leather suitcase stuffed beyond capacity with loose pages.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">I quickly scanned the items on the note she&rsquo;d handed me before putting it in my pocket and stepping back into the hall.</span></p>
</div>
</Layout>

<style>
  .title {
    font-size: 100px;
    color: rgb(255, 166, 0);
    text-shadow: 0 0 10px rgb(0, 0, 0);
    padding: 10px;
    margin-bottom: 20px;
  }

  /* Media queries for responsive design */
  @media (max-width: 768px) {
    .title {
      font-size: 40px;
      margin-top: 50px;
    }
  }

  @media (max-width: 480px) {
    .title {
      font-size: 30px;
    }
  }
</style>