---
import Layout from './_layout.astro';

interface Props {
  mysteryId: string;
}
const { mysteryId } = Astro.props;
---

<Layout title="Room 5" pageId="room5" mysteryId={mysteryId} backgroundImage="/assets/room5.jpg">

  <div class="title">Room 5 - The Stantons</div>
  <div class="text-box">
<p><span style="font-weight: 400;">To my dismay, Robert Stanton was standing in the threshold of the door to his suite when I arrived to search Room 5.&nbsp;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Well, there you are, Detective. Back for more trouble?&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Not trouble, sir; I&rsquo;m here to find the murderer loose on </span><em><span style="font-weight: 400;">your</span></em><span style="font-weight: 400;"> train. Mind if I take a look in your room?&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;You&rsquo;ll find no murderers in here. I can assure you of that, Detective.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">A weasley smile formed on his lips. I turned my body, squeezing past his thin frame, and entered the room.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Well, it looks quite tidy in here, Mr. Stanton, and my, what a gorgeous apartment you&rsquo;ve made for yourself. Is that jewelry box made of ivory?&rdquo;&nbsp;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Annoyed, he stepped over to the golden vanity and put the box in a drawer.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Yes&hellip;it is.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;And the red sheets? Are those silk?&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Straight from China, Detective. You have a good eye, I must say.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">I tipped my head under the king bed: nothing.&nbsp;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;I don&rsquo;t miss much, Mr. Stanton.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">He followed me closely around the apartment as I looked high and low amongst the many mahogany furnishings and sheep skin rugs.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">The bathroom was in order, and a small collection of wine was neatly stowed above a seating area.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Slightly frustrated, I was just about to leave when I noticed a closet near the room's northern entrance. Just outside the doors, the faint outline of two large rectangular objects were marked in dust.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;What&rsquo;s in there?&rdquo; I asked.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Nothing of interest, Detective. I rarely make use of the closet. It&rsquo;s the domain of Thomas and Mrs. Stanton, I&rsquo;m afraid.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Mind if I have a look?&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Yes.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">I marched over anyway and pulled open the doors.&nbsp;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Inside, two seemingly endless rows of clothing were strung from one wall of the room to the other. Skirts, dresses, suits, ties, pants&ndash;in every color on the rainbow&ndash;hung one above the other in the closet. I sifted through the articles fairly quickly, finding nothing of substance. However, in the course of my searching, something big caught my eye: nestled in the left most corner of the closet, invisible to the eye from the outside, was a tall, man-sized safe. Testing my luck, I found it to be locked.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Well, I don&rsquo;t know what I expected.&rdquo; I said.&nbsp;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;That is private property, Detective, and I&rsquo;m afraid I couldn&rsquo;t open it if I wanted to. The key has gone missing.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;When did you last have it?&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Yesterday. I keep my cufflinks in there. I retrieved these just before dinner.&rdquo; </span><span style="font-weight: 400;"><br /></span><span style="font-weight: 400;"><br /></span><span style="font-weight: 400;">He showed me the golden cufflinks on his wrists shaped like clovers.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;You&rsquo;re a lucky man, Mr. Stanton.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">His lips twisted into a smile. &ldquo;I know, Detective.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Keep an eye out for your key. I will do the same. And don&rsquo;t return to this room without my permission.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;If you insist.&rdquo;&nbsp;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">I put a hand on his lower back and we left the room together.</span></p>
</div>
</Layout>

<style>
  .title {
    font-size: 100px;
    color: rgb(255, 166, 0);
    text-shadow: 0 0 10px rgb(0, 0, 0);
    padding: 10px;
    margin-bottom: 20px;
  }

  /* Media queries for responsive design */
  @media (max-width: 768px) {
    .title {
      font-size: 40px;
      margin-top: 50px;
    }
  }

  @media (max-width: 480px) {
    .title {
      font-size: 30px;
    }
  }
</style>