---
import Layout from './_layout.astro';

interface Props {
  mysteryId: string;
}
const { mysteryId } = Astro.props;
---

<Layout title="Robert Stanton" pageId="rstanton" mysteryId={mysteryId} backgroundImage="/assets/diningcar.jpg">

  <div class="title">Robert Stanton</div>
  <div class="text-box">
<p><span style="font-weight: 400;">I found Mr. Stanton in the Dining Car. He was sitting on a stool, talking in a low voice with the cook. Two empty martini glasses sat in front of him on the counter; a single string of smoke snaked its way to the tiled ceiling from the cigar propped between his fingers.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Spotting me from the corner of his eye, cufflinks shimmering in the white light, he swiveled on his stool to greet me.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Ah, Detective, what a supreme pleasure. Come, sit.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">I took the stool next to him. The cook collected Stanton&rsquo;s martini glasses before making his exit.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Watching him leave, I said, &ldquo;Thank you. I won&rsquo;t waste any time, Mr. Stanton. I have a few questions for you.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Fire away, Detective.&rdquo; His black mustache twitched above a thin smile that never quite reached his eyes.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Well, where were you when the shots were fired?&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">He shuffled in his chair, casually adjusting the collar of his smoking jacket.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;In my room with Mrs. Stanton,&rdquo; he said.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Were you sleeping?&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;No. We had both been up and around our room. Neither of us were in the head space to sleep.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Oh, and why was that, if you don&rsquo;t mind me asking?&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Um, well&hellip; Maybe it&rsquo;s best characterized as a small marital dispute, Detective. We weren&rsquo;t exactly seeing eye to eye; let&rsquo;s put it that way.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Ah, and what does that mean? Can you give me any more details, Mr. Stanton?&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;I&rsquo;d rather not air my dirty laundry to just anyone. Suffice it to say that I was eager to drop the matter, but Mrs. Stanton insisted we talk tonight.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;That&rsquo;s the best you can do?&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;I&rsquo;m afraid so. And, while we&rsquo;re asking questions, just where were you, Detective?&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Well, I was sound asleep in my room. The shots gave me quite a startle. But, let&rsquo;s return back to you, Mr. Stanton. Can you tell me exactly what you did after hearing the shots?&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Mrs. Stanton begged me to stay with her, but I did what I must do as the owner of this train, Detective: I took charge of the situation!&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Smoke rose from his mouth as he shouted the words and ground his cigar into a nearby ash tray. My eyes watered from the acrid smell as he continued.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;First, I went to the Staff Car. There, finding Thomas, I gave him strict instructions to have the train stopped with all haste. Then, like you and Mr. Pearson, I followed the sound.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;You must have run to have arrived so quickly. Despite fetching Thomas in the Staff Car first, you beat Charles and I to the Dining Car window.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Look at me, Detective. I&rsquo;m a man of integrity </span><em><span style="font-weight: 400;">and </span></em><span style="font-weight: 400;">agility.&rdquo;&nbsp;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">He leapt from his stool, a smile again spreading across his face, as he stretched his arms to expose a tall, lanky frame.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Well, I won&rsquo;t disagree, Mr. Stanton. What was your relationship with Emilia? Did you know her well?&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Standing over me, playing with the rings on his fingers, he said, &ldquo;She was an acquaintance, of course. Our expedition has given us all plenty of opportunity to get to know each other.&nbsp;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">He paused before adding, &ldquo;We sometimes spent evenings together. And before you ask, Detective, it was purely platonic. She was interested in the artifacts we were cataloguing, and I allowed her a closer look at times.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">I made no comment.&nbsp;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&nbsp;&ldquo;Well&hellip;will there be anything else, Detective?&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Yes, just one more question: would you mind giving me the keys to your room.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Detective&hellip;surely, that is not necessary. I have nothing to hide, of course, but I am a man that values his privacy. This is such an unexpected imposition from someone as seemingly polite as yourself.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">The smile left his face as I rose from my stool.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;I must insist, Mr. Stanton. The rooms are already under my authority..&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Detective&hellip;&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Save yourself the trouble. Help me find the killer that remains free aboard </span><em><span style="font-weight: 400;">your</span></em><span style="font-weight: 400;"> train.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;I&hellip;&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Give me your keys, Robert.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">His keen, brown eyes narrowed, and we exchanged a tense gaze before he sighed and said, &ldquo;I don&rsquo;t have them.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;What?&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;I don&rsquo;t have them, Detective. I swear.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">His joking tone had gone&ndash;the smile as well.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Well, would you consent to a search of your person?&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Yes.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Shocked, I searched the pockets of his smoking jacket and trousers and performed a quick patdown. The man had nothing on his person other than a matchbook and a golden pocketwatch.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Well, the keys certainly aren&rsquo;t here.&rdquo; I said, handing him back his items.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Why do you need them anyways, Detective? The doors to rooms are unlocked.&rdquo;</span><span style="font-weight: 400;"><br /><br /></span></p>
<p><span style="font-weight: 400;">&ldquo;And what room is yours, Mr. Stanton?&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Room 5.&rdquo; he said with a glare.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Thank you. Don&rsquo;t go missing, please. I may need you further.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">As I turned to walk away, his shout collided directly with my ear, &ldquo;Gregory!!&rdquo; he said, waving his hand at the Dining Car entrance.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">The cook was behind the counter and mixing a drink before I even had time to blink.&nbsp;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Cheers, Mr. Stanton.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">I left him to his drink.</span><br /><br /></p>
</div>
</Layout>

<style>
  .title {
    font-size: 100px;
    color: rgb(255, 166, 0);
    text-shadow: 0 0 10px rgb(0, 0, 0);
    padding: 10px;
    margin-bottom: 20px;
  }

  /* Media queries for responsive design */
  @media (max-width: 768px) {
    .title {
      font-size: 40px;
      margin-top: 50px;
    }
  }

  @media (max-width: 480px) {
    .title {
      font-size: 30px;
    }
  }
</style>