---
import Layout from './_layout.astro';

interface Props {
  mysteryId: string;
}
const { mysteryId } = Astro.props;
---

<Layout title="Servant - Thomas" pageId="sthomas" mysteryId={mysteryId} backgroundImage="/assets/sthomas.jpg">

  <div class="title">Servant - Thomas</div>
  <div class="text-box">
<p><span style="font-weight: 400;">Thomas was reading in the lounge area of the Staff Car. Reclined on a long wooden bench, he did not rise, or even look up from his book, when I approached.&nbsp;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Clearing my throat, I said, &ldquo;Eh hem, Thomas, may I have a quick word with you?&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;You&rsquo;re the Detective.&rdquo;, he said, flatly.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;That&rsquo;s correct. I have some questions.&rdquo; Seeming not to hear me, he turned the page and continued reading. But I pressed on, saying, &ldquo;It won&rsquo;t take long. I promise.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&nbsp;&ldquo;Ugh, fine.&rdquo; The clap of his book as he shut it echoed through the car. Motioning for me to sit, I took a spot on the stiff bench next to him.&nbsp;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Close enough to inspect the state of his person, I saw that he was well-groomed with strong features. For how long we had all been awake, much of his youth remained in his face.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;I&rsquo;d like to know where you were earlier this evening, before the shots were fired.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;I was busy doing the job of a servant,&rdquo; he replied, crossing his arms and staring defiantly at the floor.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Come, Thomas. I need a little more than that. Do you primarily cater to the Stantons&rsquo; needs?&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">He paused, finally saying, &ldquo;Yes. I rarely have time for other work.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;They are quite demanding?&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;They keep me busy.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;And you were busy assisting them last night?&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">His eyes ran me up and down before he finally answered, &ldquo;No. Last night, I was dismissed after dinner.&rdquo;</span></p>
<p><span style="font-weight: 400;"><br /></span><span style="font-weight: 400;">&ldquo;When was that?&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;6:30.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Why were you dismissed early? What time do you normally finish your work?&rdquo;</span><span style="font-weight: 400;"><br /></span><span style="font-weight: 400;"><br /></span><span style="font-weight: 400;">&ldquo;When the Stantons go to bed, normally around 11. I was only told that they would be retiring early tonight and to keep this area of the Passenger Car free of foot traffic if possible.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Oh, you mean the area just outside the vestibule between the Staff and Passenger Cars?&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Yes.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;So you were technically still on duty?&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;In a way. But I sat and read on this bench.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Did you stop anyone?&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Only Adrien. He was hungry around 11 pm, but I told him he couldn&rsquo;t leave.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;I see. And did the cook not return to the Staff Car?&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Yes, Gregory did, actually. About two minutes before the shots were fired. I was unable to stop him from traversing the hallway. He entered the Staff Car and went straight to his room. He was in a foul mood.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Around 1:24?&rdquo; I asked, remembering the clock I had read after the shots had awoken me.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;That sounds about right, yes.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">I scanned the car as we spoke. It was a sparsely decorated interior: white walls, brown carpet, and stiff wooden furnishings. He was reading a textbook on the history and practice of archeology.&nbsp;</span></p>
<p><span style="font-weight: 400;"><br /></span><span style="font-weight: 400;">But, seeing that I was studying his reading material, he put a hand atop the cover and pulled it toward himself.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Mr. Stanton ever offer to send you to school?&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;No. But I have dreams of my own.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;When the shots were fired, what happened then? I assume you were here at your post?&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Yes. It was not long after that Mr. Stanton, himself, threw open the door and told me to give the order to stop the train as quickly as I could.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Was this the first time you&rsquo;d seen him since being dismissed.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Thomas did not answer, instead he fidgeted with the sleeve of his white shirt.&nbsp;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">I gave him a moment, but, again, he stared at the floor. Gently, I repeated, &ldquo;When was the last time you saw him, Thomas?&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Still looking at his feet, he replied, &ldquo;I won&rsquo;t say.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;It is imperative to my investigation&hellip;and if you lie to me, there may be significant consequences&ndash;consequences that could end your life as a student before it even begins.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">His hand tensed atop the book. Grimacing, he sat up tall on the bench. Then, meeting my gaze for the first time and said, &ldquo;That&rsquo;s not true!&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;It is, Thomas. You must tell me the truth. If I find out otherwise, I will not hesitate to charge you with obstruction. Now tell me, when did you last see Robert?&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">He studied my expression for a long moment before finally whispering, &ldquo;From my post here. I saw him through the window a few times, walking the halls of the Passenger Car.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Was he alone?&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;....No&hellip;&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">I waited for him to continue.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Mrs. Stanton was with him.&rdquo; he whispered.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;They were in the halls after dinner?&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;They passed through the area a few times.&rdquo;&nbsp;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;What were they doing?&rdquo;</span><span style="font-weight: 400;"><br /></span><span style="font-weight: 400;"><br /></span><span style="font-weight: 400;">&ldquo;I don&rsquo;t know. I just know they were moving quietly.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;What did you do after alerting Adrian to stop the train?&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Well&hellip; I&rsquo;ll admit that I left my post to see what the commotion was about. A dead body, Detective. Can you believe it?&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;On this train? No; I&rsquo;m still bewildered as to how it could have happened. Were the Stantons getting along?&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;No. They have been arguing for the past few weeks.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Do you happen to know why?&rdquo;</span><span style="font-weight: 400;"><br /></span><span style="font-weight: 400;"><br /></span><span style="font-weight: 400;">&ldquo;I have some idea&hellip;.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">He looked behind him, toward the vestibule door. Then, continuing in a whisper, he said, &ldquo;Robert was having an affair. Or, at least, that is what Mrs. Stanton believed.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Really? With whom?&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">He drew a deep breath and whispered, &ldquo;</span><em><span style="font-weight: 400;">Emilia</span></em><span style="font-weight: 400;">. It is not surprising given how much time they have spent together on this trip.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Thomas, this is quite a shock to me. Are you certain that Emilia and Robert were having an affair?&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Still whispering, &ldquo;I can&rsquo;t say for sure, but I might be in the best position to know. I have seen the two talking in private on many occasions."</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;I understand. Is there anything else I should know?&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Only that Mrs. Stanton has been furious. She caught on pretty quickly it seems, but it is only recently that she confronted Robert about it.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;How recent?&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Yesterday.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;I see. Thank you for your time, Thomas. I&rsquo;ll put in a good word for you with Mrs. Stewart. We are longtime friends, and maybe she can find you an apprenticeship of some kind.&rdquo;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Thank you, Detective.&rdquo;</span></p>
  </div>
</Layout>

<style>
  .title {
    font-size: 100px;
    color: rgb(255, 166, 0);
    text-shadow: 0 0 10px rgb(0, 0, 0);
    padding: 10px;
    margin-bottom: 20px;
  }

  /* Media queries for responsive design */
  @media (max-width: 768px) {
    .title {
      font-size: 40px;
      margin-top: 50px;
    }
  }

  @media (max-width: 480px) {
    .title {
      font-size: 30px;
    }
  }
</style>