---
import Layout from './_layout.astro';

interface Props {
  mysteryId: string;
}
const { mysteryId } = Astro.props;
---

<Layout title="Winter Suite" pageId="7p" mysteryId={mysteryId} backgroundImage="/assets/wintersuite.jpg">

  <div class="title">Winter Suite</div>
  <div class="text-box">
    <p><span style="font-weight: 400;">The Winter Suite shared a wing with the master bedroom </span><strong>(9 - P)</strong><span style="font-weight: 400;">. I used Mr. Grady&rsquo;s key and let myself in.</span></p>
    <p>&nbsp;</p>
    <p><span style="font-weight: 400;">It was well-furnished. The carpet was snow white and so carefully maintained that I worried the dusty soles of my sneakers would mark my presence. His bed was made, and nothing beyond a small collection of snowglobes and potted plants occupied the surfaces of the forest green furniture.&nbsp;</span></p>
    <p>&nbsp;</p>
    <p><span style="font-weight: 400;">I was sifting through the slender writing desk when a knock came at the door.</span></p>
    <p>&nbsp;</p>
    <p><span style="font-weight: 400;">&ldquo;Ah, I see I was correct about your manners, Detective.&rdquo;</span></p>
    <p>&nbsp;</p>
    <p><span style="font-weight: 400;">&ldquo;I&rsquo;m just doing my job, Mr. Grady.&rdquo;</span></p>
    <p>&nbsp;</p>
    <p><span style="font-weight: 400;">&ldquo;I understand, but, surely, you must know I have nothing to hide.&rdquo;</span></p>
    <p>&nbsp;</p>
    <p><span style="font-weight: 400;">I had just rounded the corner of his bed, to the side nearest the window, when I saw it: on the floor, and in 100 pieces, the remains of the large snowglobe were scattered and lying in a grey pool of water. The intricate brass base was intact, but whatever decor had been inside the globe was gone.</span></p>
    <p>&nbsp;</p>
    <p><span style="font-weight: 400;">Still looking at the shattered glass, I said, &ldquo;Oh, then what is the meaning of this, Mr. Grady?&rdquo;</span></p>
    <p>&nbsp;</p>
    <p><span style="font-weight: 400;">He gave me a suspicious look and came to stand next to me&ndash; stopping suddenly in his tracks when he saw it.</span></p>
    <p>&nbsp;</p>
    <p><span style="font-weight: 400;">At once, he was red.</span></p>
    <p>&nbsp;</p>
    <p><span style="font-weight: 400;">&ldquo;What have you done, Detective!? I will NOT stand for your antics any longer!&rdquo;</span></p>
    <p>&nbsp;</p>
    <p><span style="font-weight: 400;">He fell to his knees, collecting the broken bits in his hands.</span></p>
    <p>&nbsp;</p>
    <p><span style="font-weight: 400;">&ldquo;I assure you, I had no time to dash your decorations to pieces, Mr. Grady&ndash; nor the inclination.&rdquo;</span></p>
    <p>&nbsp;</p>
    <p><span style="font-weight: 400;">&ldquo;</span><em><span style="font-weight: 400;">My</span></em><span style="font-weight: 400;"> decorations?!&rdquo; he shouted. &ldquo;This was Master Range&rsquo;s most prized snow globe. He had it specially commissioned! &hellip;&hellip;Oh my god!!&rdquo;</span></p>
    <p>&nbsp;</p>
    <p><span style="font-weight: 400;">&ldquo;Did you drop it by mistake?&rdquo;</span></p>
    <p>&nbsp;</p>
    <p><span style="font-weight: 400;">Turning from his efforts, he looked at me with daggers for eyes.</span></p>
    <p>&nbsp;</p>
    <p><span style="font-weight: 400;">&ldquo;ABSOLUTELY NOT!! The entire reason I was moved to this room was to watch over Mr. Range and his possessions. I would never betray his trust!&rdquo;</span></p>
    <p>&nbsp;</p>
    <p><span style="font-weight: 400;">&ldquo;He asked you to guard his snowglobes?&rdquo;</span></p>
    <p>&nbsp;</p>
    <p><span style="font-weight: 400;">&ldquo;No! This one was of specific interest to him. He was worried some of the guests might get nosey and asked me to hide it. So, not having a better idea, I put it under the bed&ndash; behind that post, there.&rdquo;</span></p>
    <p>&nbsp;</p>
    <p><span style="font-weight: 400;">&nbsp;&ldquo;What was so special about this globe?&rdquo;</span></p>
    <p>&nbsp;</p>
    <p><span style="font-weight: 400;">Continuing to collect as many of the pieces as he could, a distraught Mr. Grady said, &ldquo;He...did not elaborate; and, being a professional in his employ, I did not ask.&rdquo;</span></p>
    <p>&nbsp;</p>
    <p><span style="font-weight: 400;">&ldquo;When were you last here, Mr. Grady?&rdquo;</span></p>
    <p>&nbsp;</p>
    <p><span style="font-weight: 400;">&ldquo;After the meeting; I briefly dozed on the bed before starting preparations for dinner at 4:30, as is my habit.&rdquo;</span></p>
    <p>&nbsp;</p>
    <p><span style="font-weight: 400;">&ldquo;And it was in one piece when you left?&rdquo;</span></p>
    <p>&nbsp;</p>
    <p><span style="font-weight: 400;">&ldquo;Yes. There is not a doubt about it. I checked myself.&rdquo;</span></p>
    <p>&nbsp;</p>
    <p><span style="font-weight: 400;">&ldquo;Did the globe have some sort of special theming?&rdquo;</span></p>
    <p>&nbsp;</p>
    <p><span style="font-weight: 400;">&ldquo;Yes,&rdquo; he paused, unsure if he should continue, but then said, &ldquo;you can see the base is fashioned into a dragon, Detective. That is Ladon, a legendary beast slain by Hercules, himself. It is the Master&rsquo;s favorite story. The dragon was said to have guarded golden apples. What was once inside this globe was exactly that: an apple made of pure gold.&rdquo;</span></p>
    <p>&nbsp;</p>
    <p><span style="font-weight: 400;">&ldquo;Who would know to look for such a thing?&rdquo;</span><span style="font-weight: 400;"><br /></span><span style="font-weight: 400;"><br /></span><span style="font-weight: 400;">&ldquo;I don&rsquo;t know! But I did not say a word about, if that&rsquo;s what you&rsquo;re implying. Will that be all, Detective?&rdquo;</span></p>
    <p>&nbsp;</p>
    <p><span style="font-weight: 400;">&ldquo;Yes. Thank you for your help, Mr. Grady.&rdquo;</span></p>
    <p>&nbsp;</p>
    <p><span style="font-weight: 400;">&ldquo;Get out.&rdquo;</span></p>
  </div>
</Layout>

<style>
  .title {
    font-size: 100px;
    color: rgb(255, 166, 0);
    text-shadow: 0 0 10px rgb(0, 0, 0);
    padding: 10px;
    margin-bottom: 20px;
  }

  /* Media queries for responsive design */
  @media (max-width: 768px) {
    .title {
      font-size: 40px;
      margin-top: 50px;
    }
  }

  @media (max-width: 480px) {
    .title {
      font-size: 30px;
    }
  }
</style>