---
import Layout from './_layout.astro';

interface Props {
  mysteryId: string;
}
const { mysteryId } = Astro.props;
---

<Layout title="Garden Suite" pageId="gardensuite" mysteryId={mysteryId} backgroundImage="/assets/gardensuite.jpg">

  <div class="title">Garden Suite</div>
  <div class="text-box">
    <p>Just off the entry hall, I slipped into Mr. Dawson's Garden Suite. The circular room was more like a conservatory than a bedroom. Moonlight poured through a line of tall windows, their delicate outlines stretching the entire length of the outer wall. On the floor in front of them, a congregation of pots spilled their tendrils onto the white tile, twisting and knotting over one another like snakes.&nbsp;</p>
    <p>&nbsp;</p>
    <p>Outside, a maze of hedges and winding paths stretched in all directions. From the middle of the garden, a snarling dragon's head, carved from the purest white marble, rose high above the greenery. Between its rows of jagged teeth, something shimmered in the moonlight.</p>
    <p><br /><br /></p>
    <p>I started my search in the dark, not wanting to attract attention from the rest of the house. Dale was a much tidier man than I expected. His effects were organized and well-maintained. Beside the bed, a small black notebook caught my eye. Quickly flipping through the pages, I found it to be a lengthy, hand-written list of names, addresses, dates, and payment information.&nbsp;</p>
    <p>&nbsp;</p>
    <p>I was still rifling through the pages when, suddenly, the door opened and an orange light filled the room.</p>
    <p>&nbsp;</p>
    <p>I saw him before he saw me.</p>
    <p>&nbsp;</p>
    <p>"Good evening, Mr. Dawson."</p>
    <p>&nbsp;</p>
    <p>"Detective!" he clutched his chest. "What on earth do you think you're doing?"</p>
    <p>&nbsp;</p>
    <p>The small book was behind my back, and I returned it to the nightstand before walking toward him.</p>
    <p>&nbsp;</p>
    <p>"It seemed prudent to search your things, Mr. Dawson. I'm just being thorough."</p>
    <p>&nbsp;</p>
    <p>He was nervous, his tone heavy. "You need to leave, Detective. Come back with a warrant. I won't have you tearing apart my..... <em>My god! Why is there dirt all over the floor?!</em>"</p>
    <p>&nbsp;</p>
    <p>Confused, I asked, "What do you mean?"</p>
    <p>&nbsp;</p>
    <p>He pointed to a decorative nook in the corner of the room where a massive flower pot, more than three feet tall and shaped like a dragon, rested in the shadows. Whatever plantings had once grown in its soil had been torn away. Black dirt and bits of fertilizer littered the floor to reveal a narrow hole some 16 inches deep– just big enough to insert an arm.</p>
    <p>&nbsp;</p>
    <p>"What is this madness, Detective? What have you been doing here? Are you some kind of gopher?"</p>
    <p>&nbsp;</p>
    <p>"Certainly not, Mr. Dawson. It must have been that way when I came in. I just now noticed."</p>
    <p>&nbsp;</p>
    <p>"Ohhh, please, Detective. I have not been in here since before dinner, and I can assure it was perfectly in order when I left."</p>
    <p>&nbsp;</p>
    <p>"Is that so? Well, you <em>do</em> have a strong alibi after dinner, Mr. Dawson. Maybe you wouldn't mind if I looked around for some clues to who might have done this?"</p>
    <p>&nbsp;</p>
    <p>He nodded and limped after me, a bandage on his ankle poking through his torn pants leg. The desk and dresser were mostly empty and their contents of little interest. However, when I unzipped his hygiene kit in the bathroom, an empty vial of poison was resting atop the collection of combs. I took a rag from my pocket and plucked it from the case.</p>
    <p>&nbsp;</p>
    <p>Holding it up in front of him, I said, "Oh, what is this Mr. Dawson?"</p>
    <p>&nbsp;</p>
    <p>He shot to his feet. "That is not mine!"</p>
    <p>&nbsp;</p>
    <p>"It was in <em>your</em> hygiene kit."</p>
    <p>&nbsp;</p>
    <p>"Detective! It was planted! You have to believe me" he said, grabbing me by the arms, "I would never poison anyone!"</p>
    <p>&nbsp;</p>
    <p>"You better start talking Mr. Dawson. What exactly is going on here? Your room is a mess. You are bleeding from your ankle. And you have poison hidden in your bathroom!?"</p>
    <p>&nbsp;</p>
    <p>"I did not poison those people, Detective. I swear it! You must believe me. I, too, was sick after dinner. Why would I poison myself?"<br /><br />"Maybe to deflect suspicion. You seem to have made a full recovery. Your dinner companions did not fare so well."</p>
    <p>&nbsp;</p>
    <p>"I don't know what was poisoned, and, what's more, I had nothing to do with it!"</p>
    <p>&nbsp;</p>
    <p>"You better start giving me some answers, Mr. Dawson."</p>
    <p>&nbsp;</p>
    <p>"Ok, this afternoon, after Wesley went missing, we formed a search party and scoured the house. I will admit to straying from the group– as well all did at times– to search Wesley's bedroom <strong>( 9 - P )</strong>. I was only trying to help a friend."</p>
    <p>&nbsp;</p>
    <p>"I'm sure. What did you find?"</p>
    <p>&nbsp;</p>
    <p>&nbsp;"Nothing. I didn't get the chance. I poked my head in and, the moment I did, his bloody dog attacked me. The miserable mutt got me right on the ankle."</p>
    <p>&nbsp;</p>
    <p>"He has a guard dog in his room?"</p>
    <p>&nbsp;</p>
    <p>"Allow me to confirm that for you, Detective. A nasty one, too. But as I was scuffling with the dog, something very strange happened."</p>
    <p>&nbsp;</p>
    <p>"What's that?"</p>
    <p>&nbsp;</p>
    <p>"Someone burst from inside the room and shouldered me to the ground. From the ground, I kicked at the dog before slamming the door shut. I'm lucky to be alive."</p>
    <p>&nbsp;</p>
    <p>"You've been lucky more than once today, Mr. Dawson. Who was this person that was in Mr. Range's room?"<br /><br />"I don't know. The entire wing was dark. It was a man; I can say that."</p>
    <p>&nbsp;</p>
    <p>"Anything else?"</p>
    <p>&nbsp;</p>
    <p>"Nothing."</p>
    <p>&nbsp;</p>
    <p>"Stay here until I come fetch you."</p>
    <p>&nbsp;</p>
    <p>"Understood, Detective."</p>
  </div>
</Layout>

<style>
  .title {
    font-size: 100px;
    color: rgb(255, 166, 0);
    text-shadow: 0 0 10px rgb(0, 0, 0);
    padding: 10px;
    margin-bottom: 20px;
  }

  /* Media queries for responsive design */
  @media (max-width: 768px) {
    .title {
      font-size: 40px;
      margin-top: 50px;
    }
  }

  @media (max-width: 480px) {
    .title {
      font-size: 30px;
    }
  }
</style>