---
import Layout from './_layout.astro';

interface Props {
  mysteryId: string;
}
const { mysteryId } = Astro.props;
---

<Layout title="Whodunit" pageId="whodunit" mysteryId={mysteryId}>

  <div class="title">Whodunit</div>
  <div class="text-box">
<p><span style="font-weight: 400;">It was nearly midday when Chief Inspector Cross called us into the study&ndash; the place where I had first met Mr. Grady some 11 hours ago. No one had slept. Dale, Flora, Mrs. Lawrence, Mr. Grady, and I shuffled to our seats. Fred Wells was handcuffed to a chair, an officer standing on either side of him.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">The Chief Inspector stood in front of the small crowd, his voice filling the room as he spoke.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Thank you for joining me everyone. I won&rsquo;t waste any time. </span><span style="font-weight: 400;">After a careful review of the evidence Detective Dent and my team have gathered, I am ready to present my theory of the case.&nbsp;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Let me start by saying that this has been a very&nbsp;puzzling night&ndash; one of murder, love, and avarice.&nbsp;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">As you all know, this weekend, Mr. Wesley Range played host to a very particular set of guests&ndash; only one of whom remains free and with us now.&rdquo; He nodded at Dale, before continuing,&nbsp;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ldquo;Each of the invitees were selected with a specific purpose in mind&ndash; that much is clear.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">But let&rsquo;s start from the beginning. When Detective Dent and other law enforcement officials arrived on scene, three people lay on the floor of the main entry: Dale Dawson, Marla Barton, and Angie Wells.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Quickly, it became clear that we were dealing with a poisoning. In our scramble to secure the scene, we initially chased the theory that Dale Dawson&rsquo;s flask had been the source of the trouble. However, I can confirm that the poison was instead delivered via the pea soup that was served at last evening&rsquo;s dinner.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">As for the fate of the guests, Marla remains in critical condition at Salem General; and, Dale, you seem to have made a full recovery. However, I am sad to inform you all that Mrs. Wells passed away on scene.&nbsp;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">For the first step of my investigation, I wanted to know who poisoned these guests and why. There were only a few possible suspects&ndash; most of the people in the house had been poisoned themselves or were absent from dinner preparations entirely. That left me with a short list: Mr. Grady, Mrs. Lawrence, or Miss Flora. And after some investigation, it was only Flora who had both the motive and opportunity to poison the soup.&nbsp;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">We discovered that she was having an affair with Fred Wells when Detective Dent found a piece of stationary from the Bird Room hidden in Miss Flora&rsquo;s dresser. There were also two notes from Flora to Fred in the Bird Room. Our theory suggests that Fred procured the poison and gave it to Flora some time prior to tonight's events. However, she still had a problem: Mrs Lawrence would be in the kitchen for the entire shift, so Flora needed a way of poisoning the food without being noticed.&nbsp;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Her solution was very clever. She claimed to be sick and asked for a short break from her duties. In this time, she snuck outside and rang the delivery bell. When Mrs. Lawrence went to answer, Flora took the opportunity to poison not only the pea soup but the staff's chilli, as well. Flora and Fred needed both the staff and guests out of the way if they were to succeed with their plan.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Naturally, this leads us to the question: Why would Flora and Fred conspire to poison the guests?</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Well, that's where a careful study of Mr. Range and his eccentric practices became of great importance. The mountain of letters and receipts on his master bedroom desk revealed that Mr. Range was in dire financial trouble. The diagnosis and treatment of his illness had drained the entirety of his retirement fund and then some. Desperate and in rapid decline, Mr. Range decided to host a weekend event for a particular group of people who might help him realize his only chance of regaining his financial security.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">What could the old man have wanted with Miss Barton, a customs agent; Mr. Dawson, the owner of a delivery business; Fred Wells, a money-laundering casino owner; and Allen Flanders, the owner of an auction house with a particular reputation?</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">To understand this, it is necessary to look into Mr. Range's past. As shown in the dozens of photographs hung throughout the house, while traveling the world as a younger man, Mr. Range amassed a substantial collection of illegal goods&ndash; all of it undocumented and unknown to government officials. No doubt Mr. Range felt it was necessary to sell off as much of his collection as he could to continue his medical treatment. He assembled a group of potential partners that could help quiety achieve this goal without attracting the attention of offcials. What he didn't realize was that Miss Flora had been up to far more than cleaning during her time of employemnt at the Range Estate.</span><span style="font-weight: 400;">l.</span><span style="font-weight: 400;"> The hours she spent every day, alone, and snooping through Mr. Range's effects, seem to have given her plenty of ideas about the nature of&nbsp;his situation as well as the existence of his hidden collection.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">It is my belief that the pair needed to eliminate as many people in the house as possible in order to make their escape with the bulky collection. What is interesting is that, even after putting their plan into action, they likely did not know the precise whereabouts of Mr. Range's stash. However, I suspect that it was easy enough for Fred to extract that information from the old man before disposing of him entirely.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Miss Flora&rsquo;s first task of the day, while cleaning rooms, was to uncover the seven golden apples necessary to access Mr. Range&rsquo;s secret collection. One by one, she smashed a dragon artifact in each of the guests' rooms and seized the apples from within. The distraction of police activity in the main entry probably enabled her to take the remaining apples from the garden and billiard table leg with relative ease.&nbsp;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Because the events of the day had been scheduled one after another, Flora knew it was unlikely that any guest would have time to return to their room before dinner. Mr. Grady happened to do so, but she was well aware of his habits and cleaned his room only after he left to prepare dinner.&nbsp;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">It was almost flawless, however, Mr. Allen Flanders was unlucky enough to return to the War Room while Flora was tinkering with the dragon mask on the wall. He must have been irate at the sight of the intrusion and perhaps had suspicions himself that there was more at play than Mr. Range was letting on.&nbsp;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">He likely saw the golden apple in Miss Flora&rsquo;s possession and demanded it from her. She refused, and, when Allen turned from her, perhaps to call for help or procure a weapon himself, Flora stabbed him in the back with a sword she pulled from the wall. Together, she and Fred hoisted his body into the armoire and continued with their plan.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Fred was spotted on a few occasions: once by Detective Dent in the servant&rsquo;s wing&ndash; likely on the way to visit Flora&ndash; and once by Dale Dawson as he made his own illicit excursion to Mr. Range&rsquo;s bedroom. At the time of this encounter, Mr. Range was already dead. Thanks to a torn jacket fragment found hanging on the exterior wall and scuff marks on the master bedroom window ledge, a medical team was able to locate Mr. Range, pulling his body from the lake below his bedroom window just a few hours ago. Fred threw Wesley from the window after the old man gave up the secrets of his hidden cache.&nbsp;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">It must have been fairly early in the night when, with all seven apples in his possession, Fred inserted them into the frame of the painting <em>The Garden of Hesperides</em>. We now know that it was behind this painting that Mr. Range stored his illicit collection.&nbsp;Quietly, Fred then began the process of transporting Mr. Range's illicit goods from the secret room behind the painting to the Bird Room closet.&nbsp;</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">We were lucky that the pair did not anticpate dilatory nature of Mrs. Barton's incredibly specific palette. The staff's dinner was delayed long enough for the poison in the pea soup to make its effects known, and we recovered the chilli from the kitchen fridge before it had been eaten.  With only the guests poisoned and incapacitated, the staff was still able to phone the police. And once we arrived on scene, we were able to put the pieces together before Flora and Fred could make their escape.</span></p>
  </div>

  <div class="text-box secondary-text-box">
    <h1>Exam Solutions:</h1>
    <p>&nbsp;</p>
    <p><strong>1:</strong>&nbsp;</p>
    <p>&nbsp;</p>
    <p><em>Why were Dale, Marla, and Angie lying on the floor in the entry hall when Detective Dent arrived?</em></p>
    <p>All three were&nbsp;<strong>poisoned</strong>&nbsp;after eating&nbsp;<strong>pea soup</strong>&nbsp;at dinner.&nbsp;<span style="color: #993300;"><strong>(10 points)</strong></span></p>
    <p>&nbsp;</p>
    <p><em>Who else was involved, and how was it done?</em></p>
    <p><strong>Fred</strong>&nbsp;and&nbsp;<strong>Flora</strong>&nbsp;conspired to poison the guests and staff. Flora&nbsp;<strong>rang the bell</strong>&nbsp;to distract Mrs. Lawrence so she could poison the <strong>pea soup</strong> and chilli stew.&nbsp;<span style="color: #993300;"><strong>(30 points)</strong></span></p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p><strong>2:</strong>&nbsp;</p>
    <p>&nbsp;</p>
    <p><em>What was Mr. Range's purpose for this weekends gathering at the Range Estate?</em></p>
    <p>To assemble a team to sell his&nbsp;<strong>illegal goods&nbsp;</strong>in order to pay for his medical treatment.&nbsp;<span style="color: #993300;"><strong>(20 points)</strong></span></p>
    <p>&nbsp;</p>
    <p><em>Why was each guest selected to recieve an invitation?</em></p>
    <p><span style="color: #993300;"><strong>10 Points per person:</strong></span></p>
    <ul>
    <ul>
    <ul>
    <li><strong>Allen Flanders</strong>&nbsp;was an&nbsp;<strong>auction</strong>&nbsp;house owner. Mr. Range needed him to&nbsp;<strong>sell the goods</strong>&nbsp;to descrete buyers.</li>
    <li><strong>Fred Wells</strong>&nbsp;was a casino owner who&nbsp;<strong>laundered money</strong>. Mr. Range needed his services for the&nbsp;<strong>proceeds of his sales</strong>.</li>
    <li><strong>Dale Dawson</strong>&nbsp;was a&nbsp;<strong>delivery</strong>&nbsp;company owner. Mr. Range needed him to&nbsp;<strong>transport the goods</strong>.</li>
    <li><strong>Marla Barton</strong>&nbsp;was a&nbsp;<strong>customs agent</strong>. Mr. Range needed her to ensure&nbsp;<strong>international buyers could recieve their items undetected</strong>&nbsp;by US officials.</li>
    </ul>
    </ul>
    </ul>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p><strong>3:</strong></p>
    <p>&nbsp;</p>
    <p><em>Where is Allen Flanders?</em></p>
    <p>His body fell from inside the&nbsp;<strong>War Room armoire.&nbsp;</strong><span style="color: #993300;"><strong>(10 points)</strong></span></p>
    <p>&nbsp;</p>
    <p><em>Why?</em></p>
    <p><strong>Flora stabbed him</strong>&nbsp;with an antique sword and, with Fred's help, put his body in the armoire after he accosted her in his room.&nbsp;<span style="color: #993300;"><strong>(10 points)</strong></span></p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p><strong>4:</strong></p>
    <p>&nbsp;</p>
    <p><em>Where was Fred Wells?</em></p>
    <p>In the secret room behind the painting&nbsp;<strong><em>The Garden of Hesperides.&nbsp;</em></strong><span style="color: #993300;"><strong>(30 points)</strong></span></p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p><strong>5:</strong></p>
    <p>&nbsp;</p>
    <p><em>Why did Fred Wells reappear at dinner?</em></p>
    <p>To get a plate of food to tame the guard&nbsp;<strong>dog&nbsp;</strong>in Master Range's room.&nbsp;<span style="color: #993300;"><strong>(10 points)</strong></span></p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p><strong>6:&nbsp;</strong></p>
    <p>&nbsp;</p>
    <p><em>Where is Wesley Range?</em></p>
    <p>Fred threw Wesley Range from the window. His body was in the&nbsp;<strong>lake</strong>&nbsp;below the master bedroom.&nbsp;<span style="color: #993300;"><strong>(30 points)</strong></span></p>
    <p>&nbsp;</p>
  </div>
</Layout>

<style>
  .title {
    font-size: 100px;
    color: rgb(255, 166, 0);
    text-shadow: 0 0 10px rgb(0, 0, 0);
    padding: 10px;
    margin-bottom: 20px;
  }

  .secondary-text-box {
    margin-top: 20px;
    max-height: 300px;
  }

  /* Media queries for responsive design */
  @media (max-width: 768px) {
    .title {
      font-size: 40px;
      margin-top: 50px;
    }
  }

  @media (max-width: 480px) {
    .title {
      font-size: 30px;
    }
  }
</style>